div.smimage2 > img{
	width: 120px;
	height: 120px;
	cursor: pointer;
	margin-top: 10px;
	border: 1px solid #afafaf;
	margin-right: 5px;
}
div.date{
	font-family: 'MinSans-Black';
    font-size: 1.7em;
    width: 900px;
    margin-bottom: 50px;
    margin-top: 30px;
}
div.datecontent{
	margin-top: 80px;
	margin-bottom: 30px;
}
div.dateprocess{
	text-align: center;
}

span.tripscrap{
	cursor: pointer;
}
