div.smimage2 > img{
	width: 120px;
	height: 120px;
	cursor: pointer;
	margin-top: 10px;
	border: 1px solid #afafaf;
	margin-right: 5px;
}
div.date{
	font-size: 1.7em;
	width: 900px;
}
div.datecontent{
	margin-top: 80px;
	margin-bottom: 30px;
}

span.tripscrap{
	cursor: pointer;
}
