@charset "UTF-8";

@font-face {
    font-family: 'MinSans-Black';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

div.login-missid{
	width: auto;
    position: relative;
    left: 700px;
    top: 60px;    
    height: 1000px;
}

span.login-missid-title{
	font-weight: bold;
    font-size: 26pt;
    color: #212529;
    margin-left: 0px;
}


li.login-missid-missid{
	display: inline-block;
    width: 160px;
    left: 80px;
    position: relative;
    padding-top: 100px;
    color: #212529;
    font-family: 'MinSans-Medium';
    font-size: 16pt;
    font-weight: bold;
}

li.login-missid-misspass{
	display: inline-block;
    width: 160px;
    left: 200px;
    position: relative;
    padding-top: 100px;
    font-family: 'MinSans-Medium';
    font-size: 16pt;
   	font-weight: bold;
}

a.misspass{
	color: #afafaf;
	
}

a.misspass:hover{
	color: #212529;	
}

hr.login-missid-line-up{
	width: 750px;
    margin-left: -100px; 
    border: 0; 
    height: 2px;
    background-color: #afafaf;
    margin-bottom: 60px;
}

hr.login-missid-line{
	width: 750px;
    margin-left: -100px; 
    border: 0; 
    height: 2px;
    background-color: #afafaf;
    margin-top: 90px;
}

table.login-missid-table{
    height: 270px;    
}


th.missidsubj{	
	font-family: 'MinSans-Medium';
	font-size: 14pt;
	text-align: center;
	vertical-align: center;

}

input.form-missid-input{
	border: 2px solid;
	border-color: #afafaf;
	width: 400px;
    height: 60px;
    font-family: 'MinSans-Medium';
    margin-left: 30px;

}

input.form-missid-id{
	border: 2px solid;
	border-color: #969696;
	width: 400px;
    height: 60px;
    font-family: 'MinSans-Medium';
    margin-left: 30px;
    background-color: #afafaf;
}

input.form-missid-id::placeholder{
	color: black;
}

button.login-missid-btn-findid{
	border-radius: 40px;
    width: 200px;
   	height: 45px;    
    color: #fff;
    background-color: #33b679;
 	border: 1px;
 	margin-left: 70px;    
	margin-top: 25px;
	font-size: 17px;
	font-weight: bold;
}

button.login-missid-btn-login{
	border-radius: 40px;
    width: 200px;
   	height: 45px;    
    color: #33b679;
    background-color: #fff;  
    border-style: solid;
 	border-color: #33b679;
 	margin-left: 40px;
	margin-top: 25px;
	font-size: 17px;
	font-weight: bold;
}


