@charset "UTF-8";

@font-face {
    font-family: 'MinSans-Black';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

div.login-emailcheck{
	width: auto;
    position: relative;
    left: 550px;
    top: 60px;
}

span.login-emailcheck-title{
	font-weight: bold;
    font-size: 20pt;
    color: #212529;

}

table.login-emailcheck-table{
	
	margin-top: 60px;
	
}


hr.login-emailcheck-line-up{
	width: 540px;
    margin-left: -15px; 
    border: 0; 
    height: 2px;
    background-color: #afafaf;
    margin-top: 40px;
    margin-bottom: 60px;
}

td.table-title{
	font-family: 'MinSans-Medium';
	font-size: 22pt;	
	
	
}

img.email-black{
	
	margin-bottom: 10px;
	
}

td.empty-table{
	
	height:20px;
}

input.form-login-emailcheck-input{
	border: 2px solid;
	border-color: #afafaf;
	width: 190px;
    height: 40px;
    font-family: 'MinSans-Medium';
    font-size: 12pt;

}

select.sel-box{
	border: 2px solid;
	border-color: #afafaf;
	width: 100px;	
    height: 40px;
    font-family: 'MinSans-Medium';
    font-size: 12pt;    	
	
}

span.login-emailcheck-message{
    font-size: 18pt;
    color: #212529;
    margin-left: 110px;   
    

}

button.btn-check{
	border-radius: 40px;
    width: 150px;
   	height: 55px;    
    color: #33b679;
    background-color: #fff;
 	border: 1px;    
	margin-top: 50px;
	font-size: 13pt;
	font-weight: bold;
	margin-left: 70px;	
	border-style: solid;
 	border-color: #33b679;
}

button.btn-use{
	border-radius: 40px;
    width: 150px;
   	height: 55px;    
    color: #fff;
    background-color: #33b679;
 	border: 1px;    
	margin-top: 25px;
	font-size: 13pt;
	font-weight: bold;
	margin-left: 50px;	
}