@charset "UTF-8";

@font-face {
    font-family: 'MinSans-Black';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.modal-content{
	width:600px;
    height: 600px;
    margin-left: 180px;
}

h2.modal-title{
	font-weight: bold;
    margin-top: 35px;
    margin-left: 40px;
}

hr.modal-line{
	width: 500px;	
}

.form-label-group{
	margin-left: 45px;
    font-size: 15pt;
    margin-top: 20px;
}

.form-color-group{
	margin-left: 45px;
    font-size: 15pt;
    margin-top: 20px;
}

.btn_modal{
	position: relative;
    bottom: 30px;
    left: 400px;
    cursor: pointer;
}

button.btn-add{
	
    border-radius: 40px;
    margin-left: -30px;
    width: 80px;
    height: 40px;
    color: #33b679;
    border: 1px solid;
    background: #fff;
    font-weight: bold;
	
}

button.btn-cancle{
    border-radius: 40px;
    margin-left: 10px;
    width: 80px;
    height: 40px;
    color: #fff;
    background-color: #33b679;
    border: 1px;
}

input.form-control{
	width: 500px;
    height: 60px;
}

span.box1 {
	display: inline-block;
 	background: #d50000;
    margin: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
}  

span.box2 {
	display: inline-block;
 	background: #e67c73;
    margin: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    left: -40px;
}  

span.box3 {
	display: inline-block;
 	background: #f4511e;
    margin: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    left: -80px;
}  

span.box4 {
	display: inline-block;
 	background: #f6bf26;
    margin: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    left: -120px;
}  

span.box5 {
	display: inline-block;
 	background: #33b679;
    margin: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    left: -160px;
}  

span.box6 {
	display: inline-block;
 	background: #0b8043;
    margin: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    left: -200px;
}  

span.box7 {
	display: inline-block;
 	background: #039be5;
    margin: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    left: -240px;
}  

span.box8 {
	display: inline-block;
 	background: #3f51b5;
    margin: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    left: -280px;
}  