@charset "UTF-8";

.review-main{
	margin-bottom: 350px;
}

.mypage-review-title{
	font-weight: bold;
    font-size: 30px;
    color: #212529;
}

.mypage-review-content{
	align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    top: 80px;
    left: -50px;
    
}

.review-main-content{
	position: relative;
	font-size: 15px;
    margin-top: 50px;
    margin-left: 420px;
    
}

.mypage-category{
	width: 100%;
    left: 500px;
    position: relative;
}

b.festival-name{
	font-weight: bold;
	cursor: pointer;
}

div.review-main-content div.review-main-content {
	font-size: 22pt;
}

/* 별점 css */
.review-star-rating {
 	 display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding: 0 0.2em;
    text-align: center;
    width: 5em;
    margin-left: 90px;
    font-size: 15px;
    margin-top: -17px;
}

.review-star-rating input {
  display:none;
}

.review-star-rating label {
  color:#FFEB46;
  cursor:pointer;
}

.review-star-rating :checked ~ label {
  color:#f90;
}

/*.theme-star-rating label:hover,
.theme-star-rating label:hover ~ label {
  color: #FFA500;
}*/

/* explanation */


.btn-form{
	margin-left: 570px;
    font-size: 12px;
    position: relative;
    top: -10px;
}

.btn-delete{
	background-color: #fff;
    border: 0px;
    font-weight: bold;
}

.btn-update{
	background-color: #fff;
    border: 0px;
    font-weight: bold;
}

span.form-date{
	color: #dcdcdc;
}

span.review-contents{
	font-size: 8pt;
	margin-left: 2px;
	cursor: pointer;
}

hr.content-line{
    margin-left: -20px;
    margin-bottom: 80px;
    margin-top: 50px;
    position: relative;
    width: 930px;
    left: -155px;
}

hr.review-title-line{
	margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
    position: relative;
    left: px;
    width: 930px;
    left: -455px;
}