@charset "UTF-8";
/* font */
@font-face {
    font-family: 'MinSans-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MinSans-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MinSans-Black';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.calendar{
	padding: 0 20px;
}
#calendarBox{text-align:center;}
#calendar{
	 width: 90%;
	 display: inline-block;
}

.mypage-header {
    width: 100%;
    padding: 0 20px;
    margin-bottom: 50px;
}

.mypage-header .mypage-title{
    font-family: 'MinSans-Black';
    font-weight: bold;
    font-size: 30px;
    color: #212529;
    margin-bottom: 55px;
}

.mypage-menu {
    width: 100%;
}

ul.mypage-ul {
    padding: 0 10px;
}

.mypage-calendar > .mypage-header > .mypage-menu > ul.mypage-ul > li.mypage-li {
    display: inline-block;
    color: #212529;
    font-family: 'MinSans-Light';
    font-size: 16pt;
    padding-right: 60px;
}

.mypage-calendar > .mypage-header > .mypage-menu > ul.mypage-ul > li.mypage-li:nth-child(3){
    font-family: 'MinSans-Medium';
	
}

li.mypage-li > a::after{padding: 0 5px;}




