img.tripdetailimg{
	width: 400px;
	height: 250px;
	margin-left: 5px;
}
div.sogae, div.map, div.image, div.madi{
	font-family: 'MinSans-Black';
	font-size: 1.7em;
	width: 900px;
	margin-bottom: 50px;
	margin-top: 30px;
}
div.tripdetailsubject,div.tripdetailname,div.tripsubcontent,span.tripwhere,span.tripscrap,div.tripcontent,div.madireview{
	color: #212529;
}
div.triptopcont{
	margin-top: 30px;
	margin-bottom: 30px;
}
div.tripsubcontent{
	font-size: 12pt;
	margin-top: 30px;
}
div.subedit{
	font-size: 12pt;
	margin-top: 80px;
}
div.subcontent{
	float: left;
}
div.subedit > img{
	width: 21px;
	height: 21px;	
}
div.tripsogae{
	text-align: center;
	margin-top: 50px;
	margin-bottom: 90px;
}
div.tripimg1{
	text-align: center;
	margin-top: 50px;
}
div.tripimg2{
	text-align: center;
	margin-bottom: 50px;
}
div.tripimg > img{width: 70px;}
div.tripcontent{
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
}
div.tripdetailname{
	font-family: 'MinSans-Black';
	font-size: 1.5em;
	margin-right: 25px;
}
span{
	font-family: 'MinSans-Medium';
}
span.detailname{
	text-align: left;
}
span.del, .update{
	cursor: pointer;
}
span.date{
	color: #afafaf;
	font-size: 8pt;
}
div.kakaomap{
	width: 600px;
	height: 400px;
	border: 1px solid #afafaf;
	margin-bottom: 50px;
}
img.tripimage{
	width: 600px;
	height: 400px;
	border: 1px solid #afafaf;
}
div.smimage > img{
	width: 196px;
	height: 150px;
	cursor: pointer;
	margin-top: 10px;
	border: 1px solid #afafaf;
	margin-right: 5px;
	margin-bottom: 50px;
}
div.tripdetailsubject{
	width:900px;
	font-family:  'MinSans-Medium';
	font-size: 1.7em;
}
div.tripdetailsubject > img{
	width: 36px;	
	height: 36px;
}
div.mytripdetail{
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  margin-top: 30px;
  margin-bottom: 80px;
  width: 100%;
  height: 100%;
  color: #212529;
  font-family: MinSans-Medium;
  margin-bottom: 100px;
}
div.mytripdetail > hr{
	width: 900px;
}
div.select span{
	font-size: 1.2em;
	margin-right: 50px;
	color: gray;
	cursor: pointer;
}
button.btnadd{
	background-color: #2bae66;
	color: white;
	border-radius: 30px;
	width: 130px;
	height: 40px;
	font-size: 10pt;
	border: 0;
	font-family: 'MinSans-Medium';
	float: right;
}
div.madicontent{
	width: 900px;	
}
div.madireview{
	width: 900px;
	margin-top: 30px;
}
span.detailedit{
	text-align: right;
	float: right;
}
/* modal 부분 */
div.myModal2 important! {
	width: 600px;
	height: 350px;
}
.modal-header{background-color: #2bae66;}
.rbtn{
	background-color: #2bae66;
	color: white;
	border-radius: 15px;
	width: 80px;
	height: 40px;
	font-size: 10pt;
	border: 0;
	font-family: 'MinSans-Medium';
}
span.modalname{
	margin-bottom: 20px;
	font-family: 'MinSans-Medium';
}
#detailcontent{
	height: 180px;
	margin-top: 20px;
}


/* 별점 css */
.detail-star-rating {
      display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding: 0 0.2em;
    text-align: center;
    width: 5em;
    margin-left: 90px;
    font-size: 15px;
    margin-top: -17px;
}

.detail-star-rating input {
  display:none;
}

.detail-star-rating label {
  color:#FFEB46;
  cursor:pointer;
}

.detail-star-rating :checked ~ label {
  color:#f90;
}

span.modalsub{
	color: white;
	font-weight: bold;
	font-family: 'MinSans-Medium';
}
span.modalsub2{
	font-weight: bold;
	font-family: 'MinSans-Medium';
	color: #212529;
}

/* Modal 별점 css */
.modal-star-rating {
      display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding: 0 0.2em;
    text-align: center;
    width: 5em;
    margin-left: 90px;
    font-size: 15px;
    margin-top: -17px;
}

.modal-star-rating input {
  display:none;
}

.modal-star-rating label {
  color:#FFEB46;
  cursor:pointer;
}

.modal-star-rating :checked ~ label {
  color:#f90;
}
