img.tripdetailimg{
	width: 400px;
	height: 250px;
	margin-left: 5px;
}
div.sogae, div.map, div.image, div.madi{
	font-size: 1.7em;
	width: 900px;
	margin-bottom: 50px;
	margin-top: 30px;
}
div.triptopcont{
	margin-top: 30px;
	margin-bottom: 30px;
}
div.tripsubcontent{
	font-size: 12pt;
	margin-top: 30px;
}
div.subedit{
	font-size: 12pt;
	margin-top: 80px;
}
div.subcontent{
	float: left;
}
div.subedit > img{
	width: 21px;
	height: 21px;	
}
div.tripsogae{
	text-align: center;
}
div.tripimg1{
	text-align: center;
	margin-top: 50px;
}
div.tripimg2{
	text-align: center;
	margin-bottom: 50px;
}
div.tripimg > img{width: 70px;}
div.tripcontent{
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
}
div.tripdetailname{
	font-family: 'MinSans-Black';
	font-size: 1.5em;
	margin-right: 25px;
}
span{
	font-family: 'MinSans-Medium';
}
span.name{
}
span.del, .update{
	cursor: pointer;
}
span.date{
	color: #afafaf;
	font-size: 8pt;
}
div.kakaomap, img.tripimage{
	width: 600px;
	height: 400px;
	border: 1px solid #afafaf;
	margin-top: 10px;
	margin-bottom: 10px;
}
div.smimage > img{
	width: 196px;
	height: 150px;
	cursor: pointer;
	margin-top: 10px;
	border: 1px solid #afafaf;
	margin-right: 5px;
}
div.tripdetailsubject{
	width:900px;
	font-family:  'MinSans-Medium';
	font-size: 1.7em;
}
div.tripdetailsubject > img{
	width: 36px;	
	height: 36px;
}
div.mytripdetail{
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  margin-top: 30px;
  margin-bottom: 80px;
  width: 100%;
  height: 100%;
  color: #212529;
  font-family: MinSans-Medium;
  margin-bottom: 100px;
}
div.mytripdetail > hr{
	width: 900px;
}
div.select span{
	font-size: 1.2em;
	margin-right: 50px;
	color: gray;
	cursor: pointer;
}
button.btnadd{
	background-color: #2bae66;
	color: white;
	border-radius: 30px;
	width: 130px;
	height: 40px;
	font-size: 10pt;
	border: 0;
	font-family: 'MinSans-Medium';
	float: right;
}
div.madicontent{
	width: 900px;	
	margin-top: 25px;
	margin-bottom: 25px;
}
span.madireview{width: 900px;}
div.contentedit{
	text-align: right;
	margin-right: 20px;
}

/* modal 부분 */
.modal-header{background-color: #2bae66;}
.rbtn{
	background-color: #2bae66;
	color: white;
	border-radius: 15px;
	width: 80px;
	height: 40px;
	font-size: 10pt;
	border: 0;
	font-family: 'MinSans-Medium';
}
#ucontent{height: 180px;}


/* 별점 css */
.star-ratings {
  color: #aaa9a9; 
  position: relative;
  unicode-bidi: bidi-override;
  width: max-content;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1.3px;
  -webkit-text-stroke-color: #2b2a29;
  float: left;
  left: 550px;
}
.star-ratings-fill {
  color: #fff58c;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: flex;
  top: 0;
  left: 0;
  overflow: hidden;
  -webkit-text-fill-color: gold;
}
.star-ratings-base {
  z-index: 0;
  padding: 0;
}

/* 리뷰 동적 별점 */
.star-rating {
  display: flex;
  flex-direction: row-reverse;
  font-size: 2.25rem;
  line-height: 2.5rem;
  justify-content: space-around;
  padding: 0 0.2em;
  text-align: center;
  width: 5em;
}
 
.star-rating input {
  display: none;
}
 
.star-rating label {
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2.3px;
  -webkit-text-stroke-color: #2b2a29;
  cursor: pointer;
}
 
.star-rating :checked ~ label {
  -webkit-text-fill-color: gold;
}
 
.star-rating label:hover,
.star-rating label:hover ~ label {
  -webkit-text-fill-color: #fff58c;
}
span.modalsub{color: white;}
