@charset "UTF-8";

.theme-main{
	font-family: 'MinSans-Medium' !important;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    color: #212529;
}

hr.theme-title-line{
	margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
    width: 750px;
    margin-left: -7px;
}

div.theme-category{
	width: 210px;
    height: 230px;
    background-color: #ffffea;
    padding-left: 58px;
    padding-top: 58px;
    margin-right: 800px;
}

div.theme-category > a.themecategory{
	color: gray;
	font-weight: 650;
	font-size: 17px;
}

div.theme-category > a.themepark-category {
	color: #212529;
}

div.theme-category > a:hover{
	color: #212529;
	transition: 0.3s ease; 
}

div.theme-category-title {
   	display: inline-block;
    position: relative;
    left: 87px;
    top: -200px;
}

div.theme-category-title > span.main-title{
	font-weight: bold;
	font-size: 25px;
	color: #212529;
	margin-left: 20px;
}

div.theme-category-title > span.sub-title{
	font-size: 0.8em;
	color: #afafaf;
}

div.theme-category-title > span.title-content{
	float: right;
	font-size: 0.8em;
	padding-left: 218px;
	text-align: right;
}

div.theme-content{
	width: 230px;
    height: 270px;
    border: 1px solid #e6e6fa;
    border-radius: 10px;
    position: relative;
    left: 78px;
    top: -160px;
    margin-left: 16px;
    margin-bottom: 47px;
    margin-top: 30px;
    cursor: pointer;
    
}

div.theme-content > img.theme-img{
	width: 100%;
	height: 170px;
	border-top-left-radius : 10px;
	border-top-right-radius : 10px;
	cursor: pointer;	
}

div.theme-content > span.theme-name{
	position: relative;
    top: 11px;
    padding-left: 75px;
    font-weight: bold;
    right: 63px;
    font-size: 14px;
}


div.theme-content > span.theme-region{
	font-size: 0.8em;
    color: #2bae66;
    position: relative;
    top: 25px;
    cursor: pointer;
    margin-left: 10px;
}

/* 별점 css */
.theme-star-rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding: 0 0.2em;
    text-align: center;
    width: 5em;
    margin-left: 160px;
    font-size: 9pt;
    margin-top: -2px;
}

.theme-star-rating input {
  display:none;
}

.theme-star-rating label {
  color:#FFEB46;
  cursor:pointer;
}

.theme-star-rating :checked ~ label {
  color:#f90;
}

/*.theme-star-rating label:hover,
.theme-star-rating label:hover ~ label {
  color: #FFA500;
}*/

/* explanation */

article {
  background-color:#ffe;
  box-shadow:0 0 1em 1px rgba(0,0,0,.25);
  color:#006;
  font-family:cursive;
  font-style:italic;
  margin:4em;
  max-width:30em;
  padding:2em;
}

div.regionofkorea{
	position: relative;
    left: 63px;
    top: -180px;
}

div.regionofkorea > a.region{
	margin-left: 33px;
	font-size: 1.2em;
	color: gray;
}

div.regionofkorea > a:hover{
	color: #212529;
	transition: 0.3s ease; 
}

div.regionofkorea > a.daejeon-chungcheong{
	color: #2bae66;
}

div.selectbar{
	position: relative;
	left: 1310px;
	top: 65px;
}

select.sortselect{
	border-color: #afafaf;
	border-radius: 5px;	
	padding: 7px;
	font-family: 'MinSans-Medium';
}

select.sortselect > option {
	font-family: 'MinSans-Medium';
	font-size: 0.9em;
	text-align: center;
